@import url(./styles.css); /* estilos generales */
@import url(./footerbuble.css); /* footer */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* BOTONES LOGIN Y SIGN IN REDIUS NAVBAR*/
.card__elementos-boton {
    border-radius: var(--borderRadius);
    padding: 4px 16px;
}
/* BANNER */
.cont-acerca-paax{  
    background-color: var(--rosatrans);
}
.cont-acerca-paax p{
    font-size: 6vw;
}
.mix-darken {
    position: relative;
}
.bg-img {
    background-color: rgba(14, 1, 10, 0.8);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.conocenos{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: var(--bgcard);
    color: var(--white);
    border-radius: 80px;
    box-shadow: var(--boxShadowCard);
}
.conocenos-text h4 {
    font-family: var(--titlesFont);
    padding-top: 0.5em;
}
.conocenos-text p {
    font-size: var(--textFont);
    box-sizing: border-box;
    padding: 1em 1em 1em 1em;
}
 /* AJUSTE DEL BORDE CONÓCENOS EN RESPONSIVE */
@media screen and (max-width: 600px){
    .conocenos{
        border-radius: var(--borderRadius);
    }
}

.perfiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    margin: 70px 0;
}

.nombre-integrante h3 {
    font-size: 2.8rem;
    text-align: center;
}

.nombre-integrante p {
    font-size: var(--textFont);
    text-align: center;
}

/* PERFILES */

* {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", sans-serif;
	outline: none;
}

.content_main {
	min-height: 50vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#content-cover {
	position: relative;
	border: none;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 0 0 2em 0;
	background: transparent;
}

/*Class for Effect of the image*/
.cover {
    object-fit: cover;
	width: 95%;
	height: 95%;
	border-radius: 50%;
	position: relative;
	top: 7px;
	left: 7px;
	-webkit-animation: cover 2.8s linear infinite;
	animation: cover 2.8s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
    box-shadow: var(--boxShadowCard);
}

.play {
	width: 95%;
	height: 95%;
	border-radius: 50%;
	position: relative;
	top: 7px;
	left: 7px;
	-webkit-animation: cover 2.8s linear infinite;
	animation: cover 2.8s linear infinite;
}

.perfil-musica-paax {
    cursor: pointer;
}

@-webkit-keyframes cover {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes cover {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Button play - neumorphism */
.custom-btn {
	font-size: 1.2em;
	margin-top: 1em;
	width: 70px;
	height: 70px;
	cursor: pointer;
	position: relative;
	border-radius: 50%;
	border: none;
	background: transparent;
    box-shadow: var(--boxShadowCard);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.custom-btn:active {
	text-shadow: none;
	background: black;
	-webkit-box-shadow: 4px 4px 6px 0 rgba(240, 46, 170, 1), -4px -4px 6px 0 #0002,
		inset -4px -4px 6px 0 rgba(240, 46, 170, 1), inset 4px 4px 6px 0 #0002;
	box-shadow: 4px 4px 6px 0 rgba(240, 46, 170, 1), -4px -4px 6px 0 #0002,
		inset -4px -4px 6px 0 rgba(240, 46, 170, 1), inset 4px 4px 6px 0 #0002;
}

#replay img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

#stop img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    object-fit: cover;
}

/* Progress Bar */
#progress-bar {
	position: relative;
	width: 350px;
	height: 10px;
	margin: 1em 0 2em 0;
	border-radius: 10px;
	-webkit-box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
		inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
		inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
	overflow: hidden;
}

#progress {
	width: 0%;
	height: 100%;
	border-radius: 10px;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#76e2d0d0),
		to(#cc75ffce)
	);
	background: -webkit-linear-gradient(left, #76e2d0d0, #cc75ffce);
	background: -o-linear-gradient(left, #76e2d0d0, #cc75ffce);
	background: linear-gradient(90deg, #76e2d0d0, #cc75ffce);
}

/* Audio */
.audio-time {
	width: 380px;
	position: relative;
	margin-top: -1.5em;
	margin-bottom: 3em;
}

#current-time {
	position: absolute;
	left: 0;
	color: var(--white);
}

#duration {
	position: absolute;
	right: 0;
	color: var(--white);
}

/* Icons */
.icons,
#icon {
	font-size: 1.5em;
	color: var(--rosaRGBA);
}

/* Controls */
.controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 330px;
}

.btn-previous,
.btn-next {
	width: 55px;
	height: 55px;
}

@media only screen and (max-width: 600px) {
	.btn-play:active {
		text-shadow: none;
		background: #d2d8df;
		-webkit-box-shadow: 4px 4px 6px 0 #fff9, -4px -4px 6px 0 #0002,
			inset -4px -4px 6px 0 #fff9, inset 4px 4px 6px 0 #0002;
		box-shadow: 4px 4px 6px 0 #fff9, -4px -4px 6px 0 #0002,
			inset -4px -4px 6px 0 #fff9, inset 4px 4px 6px 0 #0002;
	}
	#progress-bar {
		width: 250px;
		height: 8px;
	}
	.audio-time {
		width: 280px;
		font-size: 0.9em;
	}
	.controls {
		width: 290px;
	}
}

/* ------ MISION ------*/
.cont-mision{
    height: 140px;
    border-radius: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bgcard);
    box-shadow: var(--boxShadowCard);
}
.cont-mision-text{
    font-family: var(--textFont);
    padding-left: 150px;   
}
.cont-circulo-mision{
    font-family: var(--titlesFont);
    border-radius: 70px;
    width: 140px;
    height: 142px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: var(--rosaRGBA);   
}
/*------ VISION ------ */
.cont-vision{
    height: 140px;
    border-radius: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--rosatrans);
    background-color: var(--bgcard);
    box-shadow: var(--boxShadowCard);
}
.cont-vision-text{
    font-family: var(--textFont);
    padding-left: 150px;
}
.cont-circulo-vision{
    font-family: var(--titlesFont);
    border-radius: 50%;
    width: 140px;
    height: 142px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: var(--rosaRGBA);
}
/* ------ RESPONSIVE DE MISION Y VISION ------ */
@media screen and (max-width: 950px){
    .cont-mision{
        height: 150px;
        border-radius: var(--borderRadius); 
    }
    .cont-mision-text{
        margin-left: auto;
        margin-right: auto;
        padding: unset;
        margin-top: 20px;   
    }
    .cont-circulo-mision{
        border-radius: unset;
        background: none;
        width: unset;
        margin-top: -40px;
        border:unset;      
    }
    .cont-vision{
        height: 220px;
        border-radius: var(--borderRadius); 
    }
    .cont-vision-text{
        margin-left: auto;
        margin-right: auto;
        padding: unset;
        margin-top: 20px;   
    } 
    .cont-circulo-vision{
        border-radius: unset;
        width: unset;
        border:unset;
        background:none;
        margin-top: -40px;     
    }
}
@media screen and (max-width: 600px){
    .cont-mision{
        height:250px;  
    }   
    .cont-vision{
        height: 350px;  
    }
}
/* ------ VALORES ------ */
.titulo-valores{
    font-family: var(--titlesFont);
    margin-top: 60px;
}
.cont-gen-circulos-val{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
}
.cont-circulo-val{ 
    width: 270px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: unset;
}
.circulo-val{
   border: 5px solid var(--rosatrans);
   border-radius: 50%;
    background-color: var(--bgcard);
    box-shadow: var(--boxShadowCard);
}
.circulo-val h5{
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: var(--titlesFont);
}
.circulos-val p{
font-family: var(--textFont);
}


/* prueba de perfiles */
body {
    /* background: #dfe7ef; */
    font-family: var(--titlesFont);
}
* {
    box-sizing: border-box;
}
  
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
  
.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
}
@media screen and (max-width: 700px), (max-height: 500px) {
    .wrapper {
      flex-wrap: wrap;
      flex-direction: column;
    }
}
  
.player {
    background: #4245478f;
    width: 410px;
    min-height: 480px;
    box-shadow: 0px 15px 35px -5px var(--rosatrans);
    border-radius: 15px;
    padding: 30px;
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .player {
      width: 95%;
      padding: 20px;
      margin-top: 75px;
      min-height: initial;
      padding-bottom: 30px;
      max-width: 400px;
    }
}
.player__top {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 4;
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .player__top {
      flex-wrap: wrap;
    }
}
.player-cover {
    width: 300px;
    height: 300px;
    margin-left: -70px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    z-index: 1;
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .player-cover {
      margin-top: -70px;
      margin-bottom: 25px;
      width: 290px;
      height: 230px;
      margin-left: auto;
      margin-right: auto;
    }
}
.player-cover__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
}
.player-cover__item:before {
    content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px 0px var(--rosatrans);
    display: block;
    z-index: 1;
    position: absolute;
    top: 30px;
    transform: scale(0.9);
    filter: blur(10px);
    opacity: 0.9;
    border-radius: 15px;
}
.player-cover__item:after {
    content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
    display: block;
    z-index: 2;
    position: absolute;
    border-radius: 15px;
}
.player-cover__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
    user-select: none;
    pointer-events: none;
}
.player-controls {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .player-controls {
      flex-direction: row;
      padding-left: 0;
      width: 100%;
      flex: unset;
    }
}
.player-controls__item {
    display: inline-flex;
    font-size: 30px;
    padding: 5px;
    margin-bottom: 10px;
    color: #fdfdfd70 ;
    cursor: pointer;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .player-controls__item {
      font-size: 26px;
      padding: 5px;
      margin-right: 10px;
      color: #acb8cc;
      cursor: pointer;
      width: 40px;
      height: 40px;
      margin-bottom: 0;
    }
}
.player-controls__item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(223, 176, 241);
    transform: scale(0.5);
    opacity: 0;
    box-shadow: 0px 5px 10px 0px rgba(76, 70, 124, 0.2);
    transition: all 0.3s ease-in-out;
    transition: all 0.4s cubic-bezier(0.35, 0.57, 0.13, 0.88);
}
@media screen and (min-width: 500px) {
    .player-controls__item:hover {
      color:var(--rosaRGBA);
    }
    .player-controls__item:hover::before {
      opacity: 1;
      transform: scale(1.3);
    }
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .player-controls__item:active {
      color: var(--rosatrans);
    }
    .player-controls__item:active::before {
      opacity: 1;
      transform: scale(1.3);
    }
}
.player-controls__item .icon {
    position: relative;
    z-index: 2;
}
.player-controls__item.-xl {
    margin-bottom: 0;
    font-size: 95px;
    filter: drop-shadow(0 11px 6px rgba(172, 184, 204, 0.45));
    color:var(--rosatrans);
    width: auto;
    height: auto;
    display: inline-flex;
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .player-controls__item.-xl {
      margin-left: auto;
      font-size: 75px;
      margin-right: 0;
    }
}
.player-controls__item.-xl:before {
    display: none;
}
.player-controls__item.-favorite.active {
    color: red;
}
  
[v-cloak] {
    display: none;
}
  
[v-cloak] > * {
    display: none;
}
  
.progress {
    width: 100%;
    margin-top: -15px;
    user-select: none;
}
.progress__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.progress__duration {
    color: #71829e;
    font-weight: 700;
    font-size: 20px;
    opacity: 0.5;
}
.progress__time {
    margin-top: 2px;
    color: #71829e;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.7;
}
  
.progress__bar {
    height: 6px;
    width: 100%;
    cursor: pointer;
    background-color: #d0d8e6;
    display: inline-block;
    border-radius: 10px;
}
  
.progress__current {
    height: inherit;
    width: 0%;
    background-color: #a3b3ce;
    border-radius: 10px;
}
  
.album-info {
    color: #71829e;
    flex: 1;
    padding-right: 60px;
    user-select: none;
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .album-info {
      padding-right: 30px;
    }
}
.album-info__name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.3em;
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .album-info__name {
      font-size: 18px;
      margin-bottom: 9px;
    }
}
.album-info__track {
    font-weight: 400;
    font-size: 20px;
    opacity: 0.7;
    line-height: 1.3em;
    min-height: 52px;
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .album-info__track {
      font-size: 18px;
      min-height: 50px;
    }
}
  
.github-btn {
    position: absolute;
    right: 40px;
    bottom: 50px;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    background: #24292e;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 500px) {
    .github-btn:hover {
      transform: scale(1.1);
      box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
    }
}
@media screen and (max-width: 700px) {
    .github-btn {
      position: relative;
      bottom: auto;
      right: auto;
      margin-top: 20px;
    }
    .github-btn:active {
      transform: scale(1.1);
      box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
    }
}
  
.scale-out-enter-active {
    transition: all 0.35s ease-in-out;
}
  
.scale-out-leave-active {
    transition: all 0.35s ease-in-out;
}
  
.scale-out-enter {
    transform: scale(0.55);
    pointer-events: none;
    opacity: 0;
}
  
.scale-out-leave-to {
    transform: scale(1.2);
    pointer-events: none;
    opacity: 0;
}
  
.scale-in-enter-active {
    transition: all 0.35s ease-in-out;
}
  
.scale-in-leave-active {
    transition: all 0.35s ease-in-out;
}
  
.scale-in-enter {
    transform: scale(1.2);
    pointer-events: none;
    opacity: 0;
}
  
.scale-in-leave-to {
    transform: scale(0.55);
    pointer-events: none;
    opacity: 0;
}

/* fin de prueba */