@import url(./styles.css);
@import url(./followers-profile.css);
@import url(footerbuble.css);

* {
	margin:0;
	padding: 0;
}

.card__elementos-boton{
    border-radius: var(--borderRadius);
    padding: 4px 16px;
}

body {
    font-family: var(--textFont);
    font-size: 1.6rem;
    line-height: 2;
    color: (--white);
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
	background-color: black;
}

.main__contacto {
	width: 100%;
	height: auto;
	top: 70px;
	position: relative;
}

.title__contacto {
	text-align: center;
	color: white;
	width: 100%;
	height: 50px;
	padding: 20px;
	margin: 0px;
	top: 100px;
}

/*Sección 1 Carousel*/
@-webkit-keyframes scroll__contacto {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1000px * 5));
    }
  }

@keyframes scroll__contacto {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1000px * 5));
    }
  }
  
  .container__carousel__contacto {
    height: 500px;
    width: 100%;
	padding: 20px 20px;
	margin: 0px;
	display: flex;
  }

  .box__carousel__contacto {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-color:black;
	padding: 20px;
	border-radius: 5px;
  }

  .container__carousel__contacto::before, .container__carousel__contacto::after {
    content: "";
  }

  .container__carousel__contacto::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .container__carousel__contacto::before {
    left: 0;
    top: 0;
  }
  
  .container__carousel__contacto .track__slides  {
    -webkit-animation: scroll__contacto 100s linear infinite;
            animation: scroll__contacto 100s linear infinite;
    display: flex;
    width: calc(1000px * 10);
  }

#slide__contacto {
	padding: 10px;
	border-radius: 20px 20px;

	opacity: .85;
	transition: 1s;
}

#slide__contacto:hover {
	transform: scale(.9);
}

/*Sección 2 Banner*/
.container__banner {
	background-color: rgba(240, 46, 170, 1);
	color: black;
	padding: 0;
	margin: 0;
	transform: skew(0deg, -10deg) translateY(-120px);
	position: relative;
	right: 0px;
	z-index: 0;
	left: 0px;
	top: 0px;
	bottom: 0px;
	height: 900px;
	width: 100%;
	display: flex;
	text-align: center;
}

@media (min-width: 360px) {
	.container__banner {
		position: relative;
		width: 100%;
		height: 1000px;
		margin: 0px;
		padding: 0px;
		top: 0px;
		left: 0px;
	}
}



.title__banner {
	background-color: rgba(240, 46, 170, 1);
	color: black;
	padding: 20px;
	margin: 0px;
	width: 100%;
	height: 300px;
	position: relative;
	text-align: center;
}

.icons__banner {
	width: 70%;
	height: 150px;
	position: absolute;
	top: 100px;
	left: 150px;
	margin: 0px;
	padding: 10px;
}

.icons__net {
	padding: 20px;
	margin: 0px;
	right: 0;
	z-index: 3;
	left: 0px;
	top: 0px;
	bottom: 0px;
	border-radius: 20px;
	transition: 1s;
	width: 150px;
	height: 150px;
	align-items: center;
}

.icons__net:hover {
	transform: scale(1.2);
}

@media (min-width: 360px) {
	.icons__net {
		width: 100px;
		height: 80px;
	}
}

@media (min-width: 360px) {
	.icons__banner {
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 100px;
		margin: 0px;
		padding: 20px;
		top: 200px;
		left: 10px;
	}
}

@media (min-width: 768px) {
	.icons__banner {
		position: absolute;
		width: 70%;
		height: 50px;
		margin: 0px;
		padding: 20px;
		top: 130px;
		left: 150px;
	}
}

@media (min-width: 1200px) {
	.icons__banner {
		width: 80%;
		height: 90px;
		position: absolute;
		top: 130px;
		margin: 0px;
		padding: 20px;
		left: 150px;
	}
}

.logo__contacto {
	position: absolute;
	border-radius: 20px;
	width: 500px;
	height: 200px;
	padding: 20px;
	top: 200px;
	left: 420px;	
}

@media (min-width: 360px) {
	.logo__contacto {
		width: 80%;
		position: absolute;
		z-index: 4;
		height: 150px;
		top: 320px;
		right: 0px;
		left: 34px;
		margin: 0px;
		padding: 10px;
	}
}

@media (min-width: 768px) {
	.logo__contacto {
		position: absolute;
		width: 60%;
		height: 100px;
		margin: 0px;
		padding: 20px;
		top: 200px;
		left: 150px;
	}
}

@media (min-width: 1200px) {
	.logo__contacto {
		width: 80%;
		height: 150px;
		position: absolute;
		top: 200px;
		margin: 0px;
		padding: 20px;
		left: 150px;
	}
}

.row__email {
	padding: 30px 30px;
	background-color: black;
	font-family: 'Mukta', sans-serif;
	z-index: 3;
	position: relative;
	left: 700px;
	top: 550px;
	bottom: 0px;
	right: 0px;
	width: 600px;
	height: 200px;
	text-align: center;
	border-radius: 20px;
}

.title__correo {
	padding: 10px;
	margin: 5px;
	font-size: x-large;
}

@media (min-width: 360px) {
	.row__email {
		background-color: black;
		width: 300px;
		position: absolute;
		height: 150px;
		top: 700px;
		right: 0px;
		padding: 20px;
		margin: 0px;
		left: 40px;
	}
}

@media (min-width: 360px) {
	.title__correo {
		background-color: black;
		width: 280px;
		color: white;
		position: relative;
		z-index: 4;
		height: 40px;
		top: 0px;
		right: 10px;
		padding: 0px;
		margin: 10px;
		font-size: medium;
		align-items: center;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.title__correo {
		width: 80%;
		color: white;
		position: relative;
		z-index: 4;
		height: 50px;
		top: 0px;
		left: 50px;
		right: 50px;
		padding: 0px;
		margin: 0px;
		font-size: x-large;
		align-items: center;
		text-align: center;
	}
}
@media (min-width: 360px) {
	.row__email {
		background-color: black;
		position: absolute;
		width: 85%;
		height: 150px;
		margin: 0px;
		padding: 20px;
		top: 800px;
		left: 30px;
		align-items: center;
	}
}

@media (min-width: 768px) {
	.row__email {
		background-color: black;
		position: absolute;
		width: 50%;
		height: 150px;
		margin: 0px;
		padding: 20px;
		top: 550px;
		left: 380px;
		align-items: center;
	}
}

@media (min-width: 1200px) {
	.row__email {
		background-color: black;
		width: 35%;
		height: 150px;
		position: absolute;
		top: 550px;
		margin: 0px;
		padding: 20px;
		left: 700px;
	}
}

.row__seccion {
	font-family: 'Mukta', sans-serif;
	position: absolute;
	left: 0px;
	top: 50px;
	bottom: 0px;
	right: 0px;
	width: 400px;
	height: 350px;
	padding: 10px;
	border-radius: 20px;
}

@media (min-width: 360px) {
	.row__seccion {
		width: 100%;
		position: absolute;
		z-index: 4;
		height: 400px;
		top: 500px;
		right: 0px;
		padding: 20px;
		margin: 0px;
		text-align: center;
	}
}


@media (min-width: 768px) {
	.row__seccion {
		position: absolute;
		width: 30%;
		height: 100px;
		margin: 0px;
		padding: 20px;
		top: 480px;
		left: 100px;
	}
}

@media (min-width: 1200px) {
	.row__seccion {
		width: 45%;
		height: 400px;
		position: absolute;
		top: 500px;
		margin: 0px;
		padding: 20px;
		left: 50px;
	}
}

.nav__seccion {
	color: black;
}

/*Sección 3 Preguntas frecuentes y feedback*/

.container__form__quiz {
	background-color: black;
	padding: 0;
	margin: 0;
	left: 0px;
	display: flex;
	top: 0px;
	bottom: 0px;
	right: 0;
	position: relative;
	width: 100%;
	height: 800px;
}

@media (min-width: 360px) {
	.container__form__quiz {
		width: 100%;
		position: relative;
		height: 1400px;
		top: 0px;
		padding: 0px;
		margin: 0;
		right: 0px;
		display: flex;
		flex-wrap: wrap;
	}
}

@media (min-width: 768px) {
	.container__form__quiz {
		width: 100%;
		position: relative;
		height: 1600px;
		top: 0px;
		right: 0px;
		color: rgba(240,46, 170, 1ss);
		display: flex;
		flex-wrap: wrap;
	}
}

@media (min-width: 1200px) {
	.container__form__quiz {
		width: 100%;
		position: relative;
		height: 800px;
		top: 0px;
		right: 0px;
		padding: 0px;
		margin: 0;
	}
}

/*Sección 3.1 Preguntas frecuentes */
.preguntas {
	padding: 20px;
	position: relative;
	z-index: 1;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 60%;
	height: 800px;
	text-align: center;
}


@media (min-width: 360px) {
	.preguntas {
		width: 100%;
		position: relative;
		height: 800px;
		top: 0px;
		right: 0px;
		color: rgba(240,46, 170, 1ss);
		
	}
}

@media (min-width: 768px) {
	.preguntas {
		padding: 10px;
		margin: 0px;
		position: relative;
		color:rgba(240, 46, 170, 1);
		width: 100%;
		height: 800px;
		top: 0px;
		left: 0px;
	}
}

@media (min-width: 1200px) {
	.preguntas {
		width: 50%;
		height: 800px;
		top: 0px;
		margin: 0px;
		padding: 0px;
		left: 0px;
		position: relative;
		text-align: center;
	}
}

.title__preguntas {
	background-color: none;
	padding: 20px;
	margin: 5px;
	color: rgba(240, 46, 170, 1);;
	position: relative;
	z-index: 3;
	width: 100%px;
	height: 70px;
	top: 0px;
	left: 0px;
}

@media (min-width: 360px) {
	.title__preguntas {
		width: 100%;
		position: relative;
		height: 50px;
		top: -70px;
		right: 0px;
		color: rgba(240,46, 170, 1ss);
	}
}

@media (min-width: 768px) {
	.title__preguntas {
		padding: 10px;
		margin: 10px;
		position: relative;
		color:rgba(240, 46, 170, 1);
		width: 100%;
		height: 100px;
		top: 0px;
		left: 0px;	
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.title__preguntas {
		width: 100%;
		height: 100px;
		position: relative;
		top: 0px;
		margin: 0px;
		padding: 0px;
		left: 0px;
	}
}

.box__preguntas {
	margin: 10px;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 800px;
	position: relative;
	border-radius: 50px;
}

@media (min-width: 360px) {
	.box__preguntas {
		background-color: black;
		width: 100%;
		position: relative;
		height: 600px;
		top: 0px;
		right: 0px;
	}
}

@media (min-width: 768px) {
	.box__preguntas {
		background-color: black;
		position: relative;
		width: 100%;
		height: 670px;
		margin: 0px;
		padding: 40px;
		top: 0px;
		left: 0px;
	}
}

@media (min-width: 1200px) {
	.box__preguntas {
		background-color: black;
		width: 100%;
		height: 800px;
		position: relative;
		top: 0px;
		padding: 40px;
		left: 0px;
	}
}

.tarjetas {
	width: 100%;
	height: 150px;
	-webkit-perspective: 800;
	perspective: 800;
	left: 0px;
	padding: 0px;
	margin: 0px;
	align-items: center;
}


@media (min-width: 360px) {
	.tarjetas {
		margin: 0px;
		padding: 10px;
		background-color: black;
		width: 100%;
		position: relative;
		height: 150px;
		top: 10px;
		left: 0px;
		right: 0px;
	}
}

@media (min-width: 768px) {
	.tarjetas {
		margin: 0px;
		padding: 10px;
		background-color: black;
		width: 100%;
		position: relative;
		height: 150px;
		top: 0px;
		left: 0px;
		right: 0px;
	}
}

@media (min-width: 1200px) {
	.tarjetas {
		margin: 0px;
		padding: 10px;
		width: 100%;
		height: 150px;
	}
}

.tarjeta__flip {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: gray;
	border-radius: 20px;
	transform-style: preserve-3d;
	transition: 0.7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(240, 46, 170, 1);
	-moz-box-shadow: 0px 10px 15px -5px rgba(240, 46, 170, 1);
	box-shadow: 0px 10px 15px -5px rgba(240, 46, 170, 1);
}

.pregunta__frec, .respuesta__frec {
	position: absolute;
	border-radius: 20px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.respuesta__frec {
	transform: rotateY(180deg);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: black;
	color: rgba(240, 46, 170, 1);
}

.tarjetas:hover .tarjeta__flip {
	transform: rotateY(180deg);
}

.pregunta__frec{
	width: 100%;
	background-color: black;
	color: white;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 20px;
}

/*Sección 3.2 Buzón*/

.buzon {
	width: 45%;
	height: 800px;
	position: relative;

}

@media (min-width: 360px) {
	.buzon {
		background-color: black;
		width: 100%;
		position: relative;
		height: 500px;
		top: 0px;
		right: 0px;
		}
}

@media (min-width: 768px) {
	.buzon {
		background-color: black;
		width: 100%;
		position: relative;
		height: 800px;
		top: 0px;
		right: 0px;
		}
}

@media (min-width: 1200px) {
	.buzon {
		background-color: black;
		width: 50%;
		position: relative;
		height: 800px;
		top: 0px;
		right: 0px;
	}
}

.form__buzon {
	padding: 40px;
	margin: 0px;
	background-color: black;
	position: relative;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 700px;
	
}

@media (min-width: 360px) {
	.form__buzon {
		background-color: black;
		width: 100%;
		position: relative;
		height: 500px;
		top: 0px;
		right: 0px;
	}
}

@media (min-width: 768px) {
	.form__buzon {
		background-color: black;
		position: relative;
		width: 100%;
		height: 800px;
		margin: 0px;
		padding: 40px;
		top: 0px;
		left: 0px;
	}
}

@media (min-width: 1200px) {
	.form__buzon {
		background-color: black;
		width: 100%;
		height: 800px;
		position: relative;
		top: 0px;
		margin: 0px;
		padding: 40px;
		left: 0px;
	}
}

.title__email {
	padding: 20px;
	margin: 0px;
	background-color: black;
	color: rgba(240, 46, 170, 1);
	position: relative;
	width: 100%;
	height: 100px;
	top: 0px;
}

@media (min-width: 360px) {
	.title__email {
		background-color: black;
		width: 100%;
		position: relative;
		height: 50px;
		top: -70px;
		right: 0px;
		left: 0px;
		color: rgba(240,46, 170, 1ss);
	}
}

@media (min-width: 768px) {
	.title__email {
		padding: 0px;
		margin: 0px;
		background-color: black;
		color: rgba(240, 46, 170, 1);
		position: relative;
		width: 100%;
		height: 100px;
		top: 50px;
		left: 0px;
		right: 0px;
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.title__email {
		background-color: black;
		width: 100%;
		height: 100px;
		position: relative;
		top: 0px;
		margin: 0px;
		padding: 0px;
		left: 0px;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.mailbox {
		background-color: black;
		position: relative;
		width: 100%;
		height: 500px;
		margin: 0px;
		padding: 20px;
		top: 0px;
		left: 0px;
	}
}

@media (min-width: 1200px) {
	.mailbox {
		background-color: black;
		position: relative;
		width: 100%;
		height: 600px;
		margin: 0px;
		padding: 60px;
		top: 0px;
		left: 0px;
	}
}
.feedback__input {
	color:gray;
	font-family: 'Mukta', sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: black;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback__input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid rgba(240, 46, 170, 1);
	color: rgba(240, 46, 170, 1);
	outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
	color: rgba(240, 46, 170, 1);
	border: rgba(240, 46, 170, 1) solid 3px;
}

/*Secciones interiores del Form*/
.user__name{
	border-radius: 20px;
	background-color: rgb(15, 13, 13);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name {
	border-radius: 20px;
	background-color: gray;
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-size: 30px 30px;
	background-color: gray;
	background-position: 8px 5px;
  	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	border-radius: 20px;
	background-color: gray;
	background-size: 10px 10px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	color: rgba(15, 15, 15, 0.856);
}

#email:focus{
	background-size: 30px 30px;
	background-color: gray;
  	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-color: white;
	background-size: 10px 10px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	text-align: left;
	border-radius: 20px;
	width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
	padding: 10px;
	margin: 0;
}

.text {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

.gray__letter {

	color: gray;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:black;
}

#button__send{
	padding: 5px;
	font-family: 'Nunito', sans-serif;
	float: right;
	width: 30%;
	border:rgba(240, 46, 170, 1) solid 4px;
	border-radius: 20px;
	cursor:pointer;
	background-color: rgba(240, 46, 170, 1);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button__send:hover{
	background-color: rgba(0,0,0,0);
	color: --rosa;
}
	
.submit:hover {
	color: rgba(240, 46, 170, 1);
}

.comment {
	text-align: left;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: black;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  	width:100%;

  	background-color: --rosa;
}


.submit {
	padding: 5px 5px;
	margin: 5px 5px;
}

#button__send {
	padding: 5px 5px;
}

@import url(./footerbuble.css);

*{
  text-decoration: none;
  list-style: none;
}
p{
  text-decoration: none;
  list-style: none;
  
}


/*Seccion Footer*/

.footer {
    z-index: 1;
    --footer-background:var(--rosa);
    display: grid;
    position: relative;
    /* grid-area: footer; */
    min-height: 8px;
    /* margin-top: 20%; */
  }
  .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--rosa);
    filter: url("#blob");
  }
  .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--rosaRGBA);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 2rem;
    padding: 2rem;
    background: var(--rosaRGBA);
  }
   .footer .content a, body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
   .footer .content b {
    color: white;
  }
   .footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
   .footer .content > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    
  }
   .footer .content > div > div {
    margin: 0.25rem 0;
  }
   .footer .content > div > div > * {
    margin-right: 0.5rem;
  }
   .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 2rem;
    /* margin: 0.25rem 0; */
    background-size: cover;
    background-position: center;
  }
  
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 3rem);
      height: var(--size, 3rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 8rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 8rem);
    }
  }

  
  .texto{
    font-family: var(--textFont);
  }