@import url(./styles.css);
@import url(./followers-profile.css);

* {
	margin:0;
	padding: 0;
}

body {
    font-family: var(--textFont);
    font-size: 1.6rem;
    line-height: 2;
    color: (--white);
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
	background-color: black;
}

/*Header*/
.header {
    width: 100%;
    height: 90px;
    padding: 0 20px;
    font: 24px var(--textFont);
    color: var(--white);
    background-color: var(--rosa);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__brand-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__user {
    display: flex;
    align-items: center;
    gap: 30px;
}

.title__contacto {
	text-align: center;
	color: white;
	width: 100%;
	height: 50px;
	padding: 10px;
}

/*Carousel*/
@-webkit-keyframes scroll__contacto {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1000px * 5));
    }
  }

@keyframes scroll__contacto {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1000px * 5));
    }
  }
  
  .container__carousel__contacto {
    height: 500px;
    width: 100%;
	padding: 20px 20px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
  }


  .box__carousel__contacto {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-image: url(../img/fondo_carousel_contacto.png);
	padding: 20px;
	border-radius: 5px;
	
  }

  .container__carousel__contacto::before, .container__carousel__contacto::after {
    content: "";
  }

  .container__carousel__contacto::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .container__carousel__contacto::before {
    left: 0;
    top: 0;
  }
  
  .container__carousel__contacto .row__track__slide  {
    -webkit-animation: scroll__contacto 100s linear infinite;
            animation: scroll__contacto 100s linear infinite;
    display: flex;
    width: calc(1000px * 10);
  }

#slide__contacto {
	padding: 10px;
	border-radius: 20px 20px;
	width: 500;
	height: 450;
	opacity: .85;
	transition: 1s;
}

#slide__contacto:hover {
	transform: scale(.9);
}

/*Sección del banner*/
.container__banner {
	background-color: rgba(240, 46, 170, 1);
	color: black;
	padding: 0;
	margin: 0;
	transform: skew(0deg, -10deg) translateY(-120px);
	position: relative;
	right: 0px;
	z-index: 0;
	left: 0px;
	top: 0px;
	bottom: 0px;
	height: 900px;
	width: 100%;
	display: flex;
	text-align: center;
}

/*
.in-flex {
	flex: 1;
}
.in-flex:fist-child {
	flex: 2;
	padding: 20px 0px;
}
.in-flex div {
	padding: 25px;
}
*/

.title__banner {
	background-color: rgba(240, 46, 170, 1);
	color: black;
	padding: 20px;
	margin: 0px;
	width: 100%;
	height: 300px;
	position: relative;
	text-align: center;
}

.icons__banner {
	width: 70%;
	height: 150px;
	position: absolute;
	top: 100px;
	left: 150px;
	margin: 0px;
	padding: 10px;
}

.icons__net {
	padding: 20px;
	margin: 0px;
	right: 0;
	z-index: 3;
	left: 0px;
	top: 0px;
	bottom: 0px;
	border-radius: 20px;
	transition: 1s;
	width: 150px;
	height: 150px;
	align-items: center;
}

.icons__net:hover {
	transform: scale(1.2);
}

@media (min-width: 360px) {
	.icons__net {
		width: 100px;
		height: 80px;
	}
}

@media (min-width: 360px) {
	.icons__banner {
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 100px;
		margin: 0px;
		padding: 20px;
		top: 200px;
		left: 10px;
	}
}

@media (min-width: 768px) {
	.icons__banner {
		position: absolute;
		width: 70%;
		height: 50px;
		margin: 0px;
		padding: 20px;
		top: 130px;
		left: 150px;
	}
}

@media (min-width: 1200px) {
	.icons__banner {
		width: 80%;
		height: 90px;
		position: absolute;
		top: 130px;
		margin: 0px;
		padding: 20px;
		left: 150px;
	}
}

.logo__contacto {
	position: absolute;
	border-radius: 20px;
	width: 500px;
	height: 200px;
	padding: 20px;
	top: 200px;
	left: 420px;	
}

@media (min-width: 360px) {
	.logo__contacto {
		width: 80%;
		position: absolute;
		z-index: 4;
		height: 150px;
		top: 250px;
		right: 0px;
		left: 34px;
		margin: 0px;
		padding: 10px;
	}
}

@media (min-width: 768px) {
	.logo__contacto {
		position: absolute;
		width: 60%;
		height: 100px;
		margin: 0px;
		padding: 20px;
		top: 200px;
		left: 150px;
	}
}

@media (min-width: 1200px) {
	.logo__contacto {
		width: 80%;
		height: 150px;
		position: absolute;
		top: 200px;
		margin: 0px;
		padding: 20px;
		left: 150px;
	}
}

.row__email {
	padding: 30px 30px;
	background-color: black;
	font-family: 'Mukta', sans-serif;
	z-index: 3;
	position: relative;
	left: 700px;
	top: 550px;
	bottom: 0px;
	right: 0px;
	width: 600px;
	height: 200px;
	text-align: center;
	border-radius: 20px;
}

.title__correo {
	padding: 10px;
	margin: 5px;
	font-size: x-large;
}

@media (min-width: 360px) {
	.row__email {
		background-color: black;
		width: 300px;
		position: absolute;
		height: 150px;
		top: 700px;
		right: 0px;
		padding: 20px;
		margin: 0px;
		left: 40px;
	}
}

@media (min-width: 360px) {
	.title__correo {
		background-color: black;
		width: 280px;
		color: white;
		position: relative;
		z-index: 4;
		height: 40px;
		top: 0px;
		right: 10px;
		padding: 0px;
		margin: 10px;
		font-size: medium;
		align-items: center;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.title__correo {
		width: 80%;
		color: white;
		position: relative;
		z-index: 4;
		height: 50px;
		top: 0px;
		left: 50px;
		right: 50px;
		padding: 0px;
		margin: 0px;
		font-size: x-large;
		align-items: center;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.row__email {
		background-color: black;
		position: absolute;
		width: 50%;
		height: 150px;
		margin: 0px;
		padding: 20px;
		top: 550px;
		left: 380px;
		align-items: center;
	}
}

@media (min-width: 1200px) {
	.row__email {
		background-color: black;
		width: 35%;
		height: 150px;
		position: absolute;
		top: 550px;
		margin: 0px;
		padding: 20px;
		left: 700px;
	}
}

.row__seccion {
	font-family: 'Mukta', sans-serif;
	position: absolute;
	left: 0px;
	top: 50px;
	bottom: 0px;
	right: 0px;
	width: 400px;
	height: 350px;
	padding: 10px;
	border-radius: 20px;
}

@media (min-width: 360px) {
	.row__seccion {
		width: 100%;
		position: absolute;
		z-index: 4;
		height: 600px;
		top: 430px;
		right: 0px;
		padding: 20px;
		margin: 0px;
		text-align: center;
	}
}


@media (min-width: 768px) {
	.row__seccion {
		position: absolute;
		width: 30%;
		height: 100px;
		margin: 0px;
		padding: 20px;
		top: 480px;
		left: 100px;
	}
}

@media (min-width: 1200px) {
	.row__seccion {
		width: 45%;
		height: 400px;
		position: absolute;
		top: 500px;
		margin: 0px;
		padding: 20px;
		left: 50px;
	}
}

.nav__seccion {
	color: black;
}
/*
@media (min-width: 360px) {
	.nav__seccion {
		width: 90%;
		position: absolute;
		height: 600px;
		top: 350px;
		right: 0px;
		padding: 20px;
		margin: 10px;
	}
}

@media (min-width: 768px) {
	.nav__seccion {
		width: 90%;
		position: absolute;
		height: 600px;
		top: 350px;
		right: 0px;
		padding: 20px;
		margin: 10px;
	}
}

@media (min-width: 1200px) {
	.nav__seccion {
		width: 90%;
		position: absolute;
		height: 400px;
		top: 0px;
		right: 0px;
		padding: 20px;
		margin: 10px;
	}
}*/
/*Segunda sección preguntas frecuentes y feedback*/

#feedback__page{
	text-align: center;
}

.container__form__quiz {
	background-color: black;
	padding: 0;
	margin: 0;
	position: relative;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0;
	width: 100%;
	height: 800px;
}

/*Sección de preguntas frecuentes */
.row__preguntas {
	padding: 20px;
	position: relative;
	z-index: 1;
	right: 0px;
	left: 50px;
	top: 125px;
	bottom: 0px;
	width: 50%;
	height: 700px;
	border-radius: 50px;
	text-align: center;
}


@media (min-width: 360px) {
	.row__preguntas {
		width: 100%;
		position: absolute;
		height: 850px;
		top: 0px;
		right: 0px;
		color: rgba(240,46, 170, 1ss);
		align-items: center;
	}
}

@media (min-width: 768px) {
	.row__preguntas {
		padding: 10px;
		margin: 10px;
		position: absolute;
		color:rgba(240, 46, 170, 1);
		width: 100%;
		height: 70px;
		top: 1550px;
		left: 70px;
		text-align: center;
		align-items: center;
	}
}

@media (min-width: 1200px) {
	.row__preguntas {
		width: 50%;
		height: 100px;
		position: absolute;
		top: 0px;
		margin: 0px;
		padding: 0px;
		left: 100px;
		align-items: center;
	}
}

.title__preguntas {
	background-color: none;
	padding: 20px;
	margin: 5px;
	color: rgba(240, 46, 170, 1);;
	position: relative;
	z-index: 3;
	width: 100%px;
	height: 70px;
	top: 0px;
	left: 0px;
	text-align: center;
	align-items: center;
}

@media (min-width: 360px) {
	.title__preguntas {
		width: 70%;
		position: absolute;
		height: 50px;
		top: 1450px;
		right: 0px;
		color: rgba(240,46, 170, 1ss);
	}
}

@media (min-width: 768px) {
	.title__preguntas {
		padding: 10px;
		margin: 10px;
		position: absolute;
		color:rgba(240, 46, 170, 1);
		width: 80%;
		height: 100px;
		top: 0px;
		left: 0px;	
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.title__preguntas {
		width: 100%;
		height: 70px;
		position: absolute;
		top: 1500px;
		margin: 0px;
		padding: 0px;
		left: 0px;
		text-align: center;
	}
}

.box__preguntas {
	margin: 10px;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 700px;
	height: 700px;
	border-radius: 50px;
}

@media (min-width: 360px) {
	.box__preguntas {
		background-color: black;
		width: 330px;
		position: absolute;
		height: 850px;
		top: 1550px;
		right: 0px;
		align-items: center;
	}
}

@media (min-width: 768px) {
	.box__preguntas {
		background-color: black;
		position: absolute;
		width: 100%;
		height: 600px;
		margin: 0px;
		padding: 20px;
		top: 100px;
		left: 0px;
		align-items: center;
	}
}

@media (min-width: 1200px) {
	.box__preguntas {
		background-color: black;
		width: 100%;
		height: 750px;
		position: absolute;
		top: 1550px;
		margin: 5px;
		padding: 20px;
		left: 0px;
	}
}

.tarjetas {
	width: 550px;
	height: 100px;
	-webkit-perspective: 800;
	perspective: 800;
	margin: 20px;
	left: 50px;
}


@media (min-width: 360px) {
	.tarjetas {
		margin: 0px;
		padding: 10px;
		background-color: black;
		width: 85%;
		position: relative;
		height: 150px;
		top: 10px;
		left: 0px;
		right: 0px;
		align-items: center;
	}
}

.tarjeta__flip {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: gray;
	border-radius: 20px;
	transform-style: preserve-3d;
	transition: 0.7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(240, 46, 170, 1);
	-moz-box-shadow: 0px 10px 15px -5px rgba(240, 46, 170, 1);
	box-shadow: 0px 10px 15px -5px rgba(240, 46, 170, 1);
}

.pregunta__frec, .respuesta__frec {
	position: absolute;
	border-radius: 20px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.respuesta__frec {
	transform: rotateY(180deg);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: black;
	color: rgba(240, 46, 170, 1);
}

.tarjetas:hover .tarjeta__flip {
	transform: rotateY(180deg);
}

.pregunta__frec{
	width: 100%;
	justify-content: center;
	background-color: black;
	color: white;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 20px;
}

/*Sección para buzón*/

.title__email {
	padding: 20px;
	margin: 5px;
	background-color: black;
	color: rgba(240, 46, 170, 1);
	position: absolute;
	z-index: 3;
	width: 40%;
	height: 70px;
	top: 0px;
	left: 0px;
}

@media (min-width: 360px) {
	.title__email {
		background-color: black;
		width: 70%;
		position: absolute;
		height: 50px;
		top: -100px;
		right: 0px;
		left: 60px;
		color: rgba(240,46, 170, 1ss);
		text-align: center;
	}
}

@media (min-width: 768px) {
	.title__email {
		padding: 10px;
		margin: 0px;
		background-color: black;
		color: rgba(240, 46, 170, 1);
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 70px;
		top: 0px;
		left: 0px;
		right: 0px;
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.title__email {
		background-color: black;
		width: 100%;
		height: 100px;
		position: absolute;
		top: 0px;
		margin: 0px;
		padding: 20px;
		left: 0px;
		text-align: center;
	}
}

.row__form__mailbox {
	padding: 20px;
	margin: 0px;
	background-color: black;
	position: relative;
	right: 0px;
	z-index: 1;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 700px;
}

@media (min-width: 360px) {
	.row__form__mailbox {
		background-color: black;
		width: 100%;
		position: absolute;
		height: 600px;
		top: 2350px;
		right: 100p;
	}
}

@media (min-width: 768px) {
	.row__form__mailbox {
		background-color: black;
		position: absolute;
		z-index: 2;
		width: 80%;
		height: 600px;
		margin: 0px;
		padding: 20px;
		top: 2350px;
		left: 100px;
	}
}

@media (min-width: 1200px) {
	.row__form__mailbox {
		background-color: black;
		width: 40%;
		height: 700px;
		position: absolute;
		top: 1480px;
		margin: 0px;
		padding: 20px;
		left: 700px;
	}
}

@media (min-width: 768px) {
	.form__mailbox {
		background-color: black;
		position: absolute;
		width: 100%;
		height: 600px;
		margin: 0px;
		padding: 20px;
		top: 50px;
		left: 0px;
	}
}

@media (min-width: 1200px) {
	.form__mailbox {
		background-color: black;
		position: absolute;
		width: 100%;
		height: 600px;
		margin: 0px;
		padding: 20px;
		top: 100px;
		left: 0px;
	}
}
.feedback__input {
	color:gray;
	font-family: 'Mukta', sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: black;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback__input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid rgba(240, 46, 170, 1);
	color: rgba(240, 46, 170, 1);
	outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
	color: rgba(240, 46, 170, 1);
	border: rgba(240, 46, 170, 1) solid 3px;
}

/* Secciones ---------------------------------- */
.user__name{
	border-radius: 20px;
	background-color: rgb(15, 13, 13);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name {
	border-radius: 20px;
	background-color: gray;
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-size: 30px 30px;
	background-color: gray;
	background-position: 8px 5px;
  	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	border-radius: 20px;
	background-color: gray;
	background-size: 10px 10px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	color: rgba(15, 15, 15, 0.856);
}

#email:focus{
	background-size: 30px 30px;
	background-color: gray;
  	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-color: white;
	background-size: 10px 10px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	text-align: left;
	border-radius: 20px;
	width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
	padding: 10px;
	margin: 0;
}

.text {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

.gray__letter {

	color: gray;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:black;
}

#button__send{
	padding: 5px;
	font-family: 'Nunito', sans-serif;
	float: right;
	width: 30%;
	border:rgba(240, 46, 170, 1) solid 4px;
	border-radius: 20px;
	cursor:pointer;
	background-color: rgba(240, 46, 170, 1);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button__send:hover{
	background-color: rgba(0,0,0,0);
	color: --rosa;
}
	
.submit:hover {
	color: rgba(240, 46, 170, 1);
}

.comment {
	text-align: left;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: black;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  	width:100%;

  	background-color: --rosa;
}


.submit {
	padding: 5px 5px;
	margin: 5px 5px;
}

#button__send {
	padding: 5px 5px;
}

