@import url(./styles.css); /* estilos generales */
@import url(./footerbuble.css); /* footer */

/* BOTONES LOGIN Y SIGN IN REDIUS NAVBAR*/
.card__elementos-boton{
    border-radius: var(--borderRadius);
    padding: 4px 16px;
}
/* BANNER */
.cont-acerca-paax{  
    background-color: var(--rosatrans);
}
.cont-acerca-paax p{
    font-size: 6vw;
}
.mix-darken {
    position: relative;
}
.bg-img {
    background-color: rgba(14, 1, 10, 0.8);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.conocenos{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: var(--bgcard);
    color: var(--white);
    border-radius: 80px;
    box-shadow: var(--boxShadowCard);
}
.conocenos-text h4 {
    font-family: var(--titlesFont);
    padding-top: 0.5em;
}
.conocenos-text p {
    font-size: var(--textFont);
    box-sizing: border-box;
    padding: 1em 1em 1em 1em;
}
 /* AJUSTE DEL BORDE CONÓCENOS EN RESPONSIVE */
@media screen and (max-width: 600px){
    .conocenos{
        border-radius: var(--borderRadius);
    }
}
/* PERFILES */
.cart-tittle h5{
    font-family: var(--titlesFont);
    color: var(--negro);
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    background-color: rgb(255, 255, 255);
}
.cart-text p {
    font-family: var(--textFont);
    text-align: left;
    line-height: 1.5;
    color: var(--white);
    margin-top: 15px;
}
.img-perfil{
    clip-path: circle(50% at 50% 50%);
}
.perfiles {
    align-items: center;
}
.links img {
    margin-right: 10px;
    cursor: pointer;
}
.correo {
    cursor: pointer;
    color: var(--rosatrans);
    font-size: large;
}
/* ------ MISION ------*/
.cont-mision{
    height: 140px;
    border-radius: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bgcard);
    box-shadow: var(--boxShadowCard);
}
.cont-mision-text{
    font-family: var(--textFont);
    padding-left: 150px;   
}
.cont-circulo-mision{
    font-family: var(--titlesFont);
    border-radius: 70px;
    width: 140px;
    height: 142px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: var(--rosaRGBA);   
}
/*------ VISION ------ */
.cont-vision{
    height: 140px;
    border-radius: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--rosatrans);
    background-color: var(--bgcard);
    box-shadow: var(--boxShadowCard);
}
.cont-vision-text{
    font-family: var(--textFont);
    padding-left: 150px;
}
.cont-circulo-vision{
    font-family: var(--titlesFont);
    border-radius: 50%;
    width: 140px;
    height: 142px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: var(--rosaRGBA);
}
/* ------ RESPONSIVE DE MISION Y VISION ------ */
@media screen and (max-width: 950px){
    .cont-mision{
        height: 150px;
        border-radius: var(--borderRadius); 
    }
    .cont-mision-text{
        margin-left: auto;
        margin-right: auto;
        padding: unset;
        margin-top: 20px;   
    }
    .cont-circulo-mision{
        border-radius: unset;
        background: none;
        width: unset;
        margin-top: -40px;
        border:unset;      
    }
    .cont-vision{
        height: 220px;
        border-radius: var(--borderRadius); 
    }
    .cont-vision-text{
        margin-left: auto;
        margin-right: auto;
        padding: unset;
        margin-top: 20px;   
    } 
    .cont-circulo-vision{
        border-radius: unset;
        width: unset;
        border:unset;
        background:none;
        margin-top: -40px;     
    }
}
@media screen and (max-width: 600px){
    .cont-mision{
        height:250px;  
    }   
    .cont-vision{
        height: 350px;  
    }
}
/* ------ VALORES ------ */
.titulo-valores{
    font-family: var(--titlesFont);
    margin-top: 60px;
}
.cont-gen-circulos-val{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
}
.cont-circulo-val{ 
    width: 270px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: unset;
}
.circulo-val{
   border: 5px solid var(--rosatrans);
   border-radius: 50%;
    background-color: var(--bgcard);
    box-shadow: var(--boxShadowCard);
}
.circulo-val h5{
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: var(--titlesFont);
}
.circulos-val p{
font-family: var(--textFont);
}
