.presentacion {
    color: var(--white);
       
}

.acerca-paax, span, p, img {
    text-align: center;
    font-size: 10rem;
    font-family: var(--titlesFont);
    background-size:cover;
    align-items: center;
    text-align: center;
}
.gif, img {
    align-items: center;
}

span {
    background-color: var(--rosatrans);
    font-family: var(--titlesFont);
    display: flex;
    /* margin-top: 22rem; */
    align-items: center;
    text-align: center;
}

.text-conocenos {
    background-color: var(--rosatrans);
    color: var(--white);
    border-radius: 90px;
}

.text-conocenos, h3 {
    font-family: var(--titlesFont);
}

.text-conocenos, p {
    font-size: var(--textFont);
}

.cart-tittle, h5{
    font-family: var(--titlesFont);
    color: var(--negro);
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    background-color: rgb(255, 255, 255);
}
.cart-text, p {
    font-family: var(--textFont);
    text-align: left;
    line-height: 1.5;
    color: var(--white);
    margin-top: 15px;
}

.img-perfil {
    border-radius: 100px;
}

.perfiles {
    align-items: center;
}

.links, img {
    margin-right: 10px;
    cursor: pointer;
}

.correo {
    cursor: pointer;
    color: var(--rosatrans);
    font-size: large;

}