@import url(./styles.css);

* {
	margin:0;
	padding: 0;
}

/*Header´s CSS */
.header {
    width: 100%;
    height: 90px;
    padding: 0 20px;
    font: 24px var(--textFont);
    color: var(--white);
    background-color: var(--rosa);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__brand-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__user {
    display: flex;
    align-items: center;
    gap: 30px;
}
                                                                                                                            
/*Body´s CSSS*/
body {
    font-family: var(--textFont);
    font-size: 1.6rem;
    line-height: 2;
    color: (--white);
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

.title__contacto {
	text-align: center;
	color: white;
	width: 100%;
	height: 50px;
}

/*Carousel´s CSS */
@-webkit-keyframes scroll__contacto {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1000px * 5));
    }
  }

@keyframes scroll__contacto {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1000px * 5));
    }
  }
  
  .container__carousel__contacto {
    height: 500px;
    width: 100%;
	padding: 20px 20px;
	margin: 0px;
  }

  .box__carousel__contacto {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-image: url(../img/fondo_carousel_contacto.png);
	padding: 20px;
	border-radius: 5px;
	
  }

  .container__carousel__contacto::before, .container__carousel__contacto::after {
    content: "";
  }

  .container__carousel__contacto::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .container__carousel__contacto::before {
    left: 0;
    top: 0;
  }
  
  .container__carousel__contacto .row__track__slide  {
    -webkit-animation: scroll__contacto 100s linear infinite;
            animation: scroll__contacto 100s linear infinite;
    display: flex;
    width: calc(1000px * 10);
  }

.container__banner__net .row__track__slide {
    height: 450px;
    width: 500px;
  }

#slide__contacto {
	padding: 10px;
	border-radius: 20px 20px;
	width: 500;
	height: 450;
	opacity: .85;

}

.title__contacto {
	color: white;
	padding: 20px 20px;
	background-color:rgb(15, 13, 13);
}

/*Banner´s CSS */
.container__banner__net {
	background-color: black;
	padding: 0;
	margin: 10px 0px;
	position: inherit;
	z-index: 3;
	bottom: 0px;
	top: 1000px;

}

#media (min-resolution: 120dpi) {
	.slide__track {

	}
}

.in-flex {
	flex: 1;
}
.in-flex:fist-child {
	flex: 2;
	padding: 20px 0px;
}
.in-flex div {
	padding: 25px;
}

.row__banner__net {
	background-color: rgba(240, 46, 170, 1);
	color: black;
	padding: 0;
	margin: 0;
	transform: skew(0deg, -10deg) translateY(-120px);
	position: absolute;
	right: 0px;
	z-index: 0;
	left: 0px;
	top: 700px;
	bottom: -1200px;
	text-align: center;
}

#banner__net {
	color: white;
    padding: 0;
	margin: 0;
}

.title__banner {
	margin: 20px;
	padding: 40px;
	text-align: center;
	width: 100%;
	
}

.icons__net {
	padding: 40px;
	position: relative;
	right: 0;
	z-index: 1;
	left: 0px;
	top: 0px;
	bottom: 0px;
	border-radius: 20px;
	padding: 20px;
}

.icons__net: hover:afeter {
	color: 
} 

.logo__contacto {
	position: absolute;
	background-color: rgba(240, 46, 170, 1);
	right: 0px;
	z-index: 1;
	left: 500px;
	top: 1000px;
	bottom: 0px;
	border-radius: 20px;
	width: 400px;
	height: 150px;
}


.box__net {
	background-color: black;
	width: 500px;
	line-height: 1.5en;
	height: 500px;
	padding: 100px 50px;
	text-align: center;
	z-index: 3;
	position: relative;
	left: 0px;
	top: 0px;
	bottom: 100px;
	right: 500px;
}

.row__email {
	padding: 30px 30px;
	background-color: black;
	color: white;
	font-family: 'Mukta', sans-serif;
	z-index: 3;
	position: absolute;
	left: 700px;
	top: 1300px;
	bottom: 0px;
	right: 0px;
	width: 600px;
	height: 200px;
	text-align: center;
	border-radius: 20px;
}

.row__seccion {
	background-color: rgba(240, 46, 170, 1);
	font-family: 'Mukta', sans-serif;
	z-index: 3;
	position: absolute;
	left: 200px;
	top: 1250px;
	bottom: 0px;
	right: 0px;
	width: 400px;
	height: 250px;
	padding: 10px;
	border-radius: 20px;
}

.nav__seccion {
	color: black;
}

/*Segunda sección*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{
	background-color: black;
  	background-size: cover;
  	height: 800px;
	
}

#feedback__page{
	text-align: center;
}

.container__form__quiz {
	background-color: black;
	padding: 0;
	margin: 0;
	z-index: 0;
	position: absolute;
	left: 0px;
	top: 1800px;
	bottom: 700px;
	right: 0;
	width: 100%;
	height: 1050px;

}

.title__banner {

}

/*Enlaces */
.row__quiz {
	text-align: center;
	padding: 20px
	background-color: black;
	position: absolute;
	right: 0px;
	left: 150px;
	top: 50px;
	bottom: 0px;
	width: 800px;
	height: 800px;
}

ul, ol {
	list-style: none;
}

.nav__1 li a {
	color: black;
	padding :10px 5px;
	display: block;
	background-color: white;
}

.nav__1 li a: hover {
	background-color: white;
	color: black;
}

.nav__1 > li  {
	float: left;
} 

.nav__1 li ul {
	display: block;
	position: absolute;
}

.row__form__mailbox {
	text-align: left;
	padding: 50px 50px;
	background-color: black;
	position: absolute;
	right: 0px;
	z-index: 4;
	left: -500px;
	top: 0px;
	bottom: -200px;
	width: 500px;
	height: 700px;	
	float: right
}

#form__mailbox {
	background-color: black;
}

#row__form__mailbox {
	background-color: black;
}

#mailbox__form {
	background-color: black;
	float: left;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	left: 75%;
	position: absolute;
    margin-top:30px;
	margin-left: -260px;
    border-radius: 7px;
}

.feedback__input {
	color:gray;
	font-family: 'Mukta', sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback__input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid rgba(240, 46, 170, 1);
	color: rgba(240, 46, 170, 1);
	outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
	color: rgba(240, 46, 170, 1);
	border: rgba(240, 46, 170, 1) solid 3px;
}

/* Secciones ---------------------------------- */
.user__name{
	border-radius: 20px;
	background-color: rgb(15, 13, 13);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name {
	border-radius: 20px;
	background-color: gray;
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-size: 30px 30px;
	background-color: gray;
	background-position: 8px 5px;
  	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	border-radius: 20px;
	background-color: gray;
	background-size: 10px 10px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	color: rgba(15, 15, 15, 0.856);
}

#email:focus{
	background-size: 30px 30px;
	background-color: gray;
  	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-color: white;
	background-size: 10px 10px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	text-align: left;
	border-radius: 20px;
	width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:black;
}

#button__send{
	font-family: 'Nunito', sans-serif;
	float: right;
	width: 30%;
	border:rgba(240, 46, 170, 1) solid 4px;
	border-radius: 20px;
	cursor:pointer;
	background-color: rgba(240, 46, 170, 1);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button__send:hover{
	background-color: rgba(0,0,0,0);
	color: --rosa;
}
	
.submit:hover {
	color: #0597F2;
}

.comment {
	text-align: left;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: black;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  	width:100%;

  	background-color: --rosa;
}


.submit {
	padding: 5px 5px;
	margin: 5px 5px;
}

#button__send {
	padding: 5px 5px;
}

@media only screen and (max-width: 580px) {
	#form{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;	
	}
}




.icons__net {
	width: 300px;
	height: 100;
	background-color: --rosa;
	transition: ls;
}

.icons__net:hover {
	transform: scale (2);

}



/*Footer */