.header-menu{
  height: 50px;
  /* width: 100%; */
  /* margin: var(--no-margin); */
  background-color: var(--rosa);
}
/* banner seccion */
section.dashboard__img{
  height: 291px;
  width: 390;
  background-image: url(../img/banner-demo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}
/* botones caja seccion */
.dashboard__btn{
  width: 138px;
  height: 105px;
  border-radius: 20px;
  border: none;
  background-color: rgba(242, 128, 181, 0.734);
}
.dashboard__btn > p{
  font-family: var(--titlesFont);
  color: var(--white);
  font-weight: 700;
}



