.header-menu{
  height: 50px;
  /* width: 100%; */
  /* margin: var(--no-margin); */
  background-color: var(--rosa);
}
/* banner seccion */
section.dashboard__img{
  height: 291px;
  width: 390;
  margin-bottom: 5rem;
  background-image: url(../img/banner-demo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}
/* botones caja seccion */
.dashboard__btn{
  width: 138px;
  height: 105px;
  border-radius: 20px;
  border: none;
  background-color: rgba(242, 128, 181, 0.734);
}
/* estiliza los p de cada boton */
.dashboard__btn > p{
  font-family: var(--titlesFont);
  color: var(--white);
  font-weight: 700;
}
.dashboard__btn > img{
  width: 55px;
}
/* ajustes responsive */

/* ajustes img banner */
@media (min-width: 1140px){
  section.dashboard__img{
    max-width: 100%;
    height: 400px;
    background-image: url(../img/banner-demo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 50% 100%, 0% 83%);
  }
  /* reajusta tamaño de los elementos de cada boton */

  /* estilos boton */
  .dashboard__btn{
    width: 244px;
    height: 244px;
    border-radius: 20px;
    border: none;
    background-color: rgba(242, 128, 181, 0.734);
  }
  .dashboard__btn:hover{
    background-color: rgba(242, 128, 181, 0.996);
    
  }
  /* estilos de p e img */
  .dashboard__btn > p{
    position: relative;
    bottom: -45px;
    font-size: 2.8rem;
    font-family: var(--titlesFont);
    color: var(--white);
    font-weight: 700;
  }
  .dashboard__btn > img{
    width: 78px;
    height: 81px;
  }

}  
/* footer */


