@import url(./styles.css);

* {
    margin: 0;
    box-sizing: border-box;
}

main {
    padding-bottom: 0.1px;
}

.banner {
  width: 100%;
  height: 124px;
}

.banner img {
    margin-right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-navbar {
    margin: 0 20px;
}

.user-navbar__id {
    background-color: var(--bgcard);
    padding: 12px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.user-navbar__datos {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user-navbar__id img {
    margin: initial;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -30px;
}

.user-navbar__id h2 {
    font-size: 1.6rem;
}

.user-navbar__id button {
    border: none;
    background-color: var(--rosaRGBA);
    color: var(--white);
    border-radius: var(--borderRadius);
    padding: 4px 16px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px var(--rosa);
}

.user-navbar__interacciones {
    height: 50px;
    width: 100%;
    background-color: var(--rosaRGBA);
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--textFont);
}

.user-navbar__interacciones a {
    color: var(--white);
}


/* Este es el código para crear la sección del post, que contiene
   imágenes, iconos y textos */ 


.card-user-main {
    margin: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: var(--borderRadius);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    display: flex;
    position: relative;
    height: 100vw;
}

.card__img-back {
    border-radius: inherit;
    margin-right: 0;
    opacity: 0.4;
    object-fit: cover;
}

.card__overtext {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card__overtext-superior {
    display: flex;
    height: 100%;
    height: 85%;
}

.card__info {
    flex-basis: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.card__info-content {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.card__info-img {
    width: 30px;
    height: 30px;
    margin-right: 0;
}

.card_info-texto {
    margin-top: 0;
    font-size: 1.6rem;
}

.card__post {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__content-post {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.card__post-titulo {
    font-size: 1.6rem;
}

.card__elementos {
    display: flex;
    justify-content: center;
    gap: 60px;
    height: 35px;
    position: absolute;
    bottom: 25px;
    right: 50px;
}

.card__elementos-share {
    margin-right: 0;
}

.card__elementos-boton {
    height: 100%;
    border: none;
    background-color: var(--rosaRGBA);
    color: var(--white);
    border-radius: var(--borderRadius);
    padding: 4px 16px;
}


/* Apartir de aquí se agregan los media queries para volver
   responsive la página y se comienza a modificar una vez superado
   el ancho en pixeles de una tablet */


@media screen and (max-width: 360px) {

    .card__elementos {
        width: 191.14px;
        bottom: 10px;
        right: 15px;
        justify-content: space-between;
    }
}


@media screen and (min-width: 361px) and (max-width: 375px) {

    .card__elementos {
        width: 204.45px;
        bottom: 10px;
        right: 15px;
        justify-content: space-between;
    }
}


@media screen and (max-width: 425px) {

    .card__info-content p {
        font-size: 1.3rem;
    }

    .card__content-post h2, p {
        font-size: 1.3rem;
    }

    .banner {
        height: 125px;
    }
}


@media screen and (min-width: 650px) {

    .card__elementos {
        bottom: 50px;
    }

    .banner {
        height: 160px;
    }

    .card-user-main {
        margin: 20px;
        margin-top: 40px;
        margin-bottom: 60px;
    }
}


@media screen and (min-width: 430px) and (max-width: 900px) {

    .user-navbar__datos {
        margin-left: 30px;
        gap: 30px;
    }

    .user-navbar__id button {
        margin-right: 30px;
    }

    .card-user-main {
        height: 60vw;
    }

    .card__img-back {
        object-fit: cover;
        width: 100%;
    }
    
    .card__overtext {
        padding: 40px;
    }
}


@media screen and (max-width: 900px) {

    .card__info-media-album {
        display: none;
    }
}


@media screen and (min-width: 900px) {

    * {
        position: static;
    }

    .banner {
        height: 225px;
    }

    .user-navbar {
        margin: 0 160px;
    }
    
    .user-navbar__datos {
        margin-left: 50px;
        gap: 40px;
    }

    .user-navbar__datos h2 {
        font-size: 2rem;
    }

    .user-navbar__interacciones a {
        font-size: 2rem;
    }

    .user-navbar__id button {
        font-size: 1.5rem;
    }

    .user-navbar__id img {
        width: 100px;
        height: 100px;
        margin-top: -60px;
    }

    .user-navbar__id button {
        margin-right: 50px;
    }

    .card-user-main {
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
        margin: 85px 160px;
        height: 45vw;
        background-color: var(--bgcard);
    }

    .card__img-back {
        display: none;
    }

    .card__info-media-album {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        margin-bottom: 0;
    }

    .card__info-media-img {
        object-fit: cover;
        margin-right: 0;
        border-radius: 10px;
    }

    .card__overtext {
        padding: 40px;
    }

    .card__overtext-superior {
        height: 90%;
    }

    .card__info {
        flex-basis: 300px;
        height: 100%;
        border-right: 5px solid var(--rosaRGBA);
    }

    .card__post {
        margin-left: 50px;
    }

    .card__content-post h2, p {
        font-size: 2rem;
    }

    .card__elementos-boton {
        font-size: 1.5rem;
    }

    .card__elementos {
        bottom: 30px;
    }
}


@media screen and (min-width: 1200px) {

    .card__info {
        justify-content: center;
    }

    .user-navbar__datos {
        margin-left: 100px;
        gap: 60px;
    }

    .user-navbar__id button {
        margin-right: 100px;
    }

    .card-user-main {
        height: 35vw;
    }

    .card__content-post {
        justify-content: center;
    }

    .card__elementos {
        bottom: 50px;
    }
}