.footer {
    /* z-index: 1;
     */
    /* display: grid; */
    --footer-background:#F280B6;
    
    position: relative;
    /* grid-area: footer; */
    min-height: 8px;
    /* margin-top: 20%; */
  }
  .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--rosa);
    filter: url("#blob");
  }
  .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--rosaRGBA);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 2rem;
    padding: 2rem;
    background: var(--rosaRGBA);
  }
   .footer .content a, body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
   .footer .content b {
    color: white;
  }
   .footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
   .footer .content > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    
  }
   .footer .content > div > div {
    margin: 0.25rem 0;
  }
   .footer .content > div > div > * {
    margin-right: 0.5rem;
  }
   .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 2rem;
    /* margin: 0.25rem 0; */
    background-size: cover;
    background-position: center;
  }
  
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 3rem);
      height: var(--size, 3rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 8rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 8rem);
    }
  }

  
  .texto{
    font-family: var(--textFont);
    
  }
