
/* #cont-footer{
    background-color: var(--rosa);
    height: 216px;
    width: 100%;
    margin: auto;
    align-items: center;
}
.iconos{
    width: 400px;
}
.icono-1 i{
    width: 200px;
}

.img-paax img{
    
    
} */