.lista-albumes{
    text-align: center;
    background-color: var (--negro);
    font-family: var(--textFont);
    /* border:2px solid orchid; */
    /* margin-right: 200px; */
}

h1{
    font-family: var(--titlesFont);
    color: white;
}


.rwd-table {
  
  min-width: 300px;
  align-items: center;
  left: 50%;
  display: flex;
  justify-content: center;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;

}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
   
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}


.rwd-table {
  background:var(--negro);
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  font-family: var(--textFont);
  
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  display: flex;
 justify-content: center;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: flex;
 justify-content: center;
  }
}
.rwd-table th, .rwd-table td:before {
  color: var (--rosa);
}