.lista-albumes{
    text-align: center;
    background-color: var (--negro);
    font-family: var(--textFont);
    /* border:2px solid orchid; */
    /* margin-right: 200px; */
}

h1{
    font-family: var(--titlesFont);
    color: white;
}


.table {
  
  /* min-width: 300px; */
  align-items: center;
  left: 40%;
  display: flex;
  justify-content: center;
 
}
.table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.table th {
  display: none;
}
/* .rwd-table td {
  /* display: block; */
 */
.table td:first-child {
  padding-top: .5em;
}
.table td:last-child {
  padding-bottom: .5em;
}

@media (min-width: 480px) {
  .table td:before {
    display: none;
  }
}
.table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .table th, .rwd-table td {
    display: table-cell;
   
  }
  .table th:first-child, .table td:first-child {
    padding-left: 0;
  }
  .table th:last-child, .table td:last-child {
    padding-right: 0;
  }
}


.table {
  background:var(--negro);
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  font-family: var(--textFont);
  
}
.table tr {
  border-color: #46637f;
}
/* .table th, .table td {
  display: flex;
 justify-content: center;
} */
/* @media (min-width: 480px) {
  .table th, table td {
    display: flex;
 justify-content: center;
  }
} */
.table th, .table td:before {
  color: var (--rosa);
}