/* BANNER IMAGE */
.banner-img{
  background-image: url(../img/wall.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-mascara{
  background-color: var(--rosaOpaco);
}
/* LOGIN */
.login-input{
  border-radius: var(--borderRadius);
}
/* INPUT GENERAL */
input{
  border: none;
  color: var(--negro);
  outline: none;
  font-size: var(--textFont);
}
input:focus{
  background-color: var(--rosa);
}
/* BOTON ACCESARr */
.accesar-btn{
  font-size: var(--titleFont);
  border-radius: var(--borderRadius)
}