@import url(./styles.css);
@import url(./footerbuble.css);

/* BANNER IMAGE */
.banner-img{
  background-image: url(../img/wall2.gif);
  /* https://giphy.com/gifs/twiceofficial-kpop-twice-heart-shaker-j3zHD4OHWXfhyBZm5z */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-mascara{
  background-color: var(--rosaOpaco);
}
/* INPUT REGISTRO */
input{
  color: white;
  font-size: var(--textFont);
  border-radius: var(--borderRadius);
}
.login-input{
  background-color: var(--rosa);
}
/* BONTON REGISTRO */
.registro_btn{
  font-size: var(--titleFont);
  border-radius: var(--borderRadius);
}

