@import url(./styles.css);

p{
  font-size: var(--titlesFont);
}
a{
  color: var(--rosa);
  
}
a:hover{
  color: var(--rosaOpaco);
  text-decoration: none;
}
.registro_check{
  padding: 100px;
  clip-path: circle();
  /* background-color: var(--rosaRGBA);  */
}
.main__img{
  margin-top: 5%;
}
img{
  width: 25%;
}
@media(max-width: 450px){
  .main__img{
    margin-top: 30%;
  }
  .registro_check img{
    width: 40vw;
  }
}

