@import url(./mystyle.css);
@import url(./header.css);
@import url(./navigation.css);
@import url(./conocenos.css);
@import url(./acerca-paax.css);
@import url(./footer.css);
@import url(./create_review-namh.css);
@import url(./carousel.css);
@import url(./lista-albumes.css);
@import url(./lista-categoria.css);
@import url(./top.css);
@import url(./footerbuble.css);
@import url(./followers-profile.css);

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Nunito:wght@600&display=swap');

:root {

    /* Colors */
    --rosa: #f280b6;
    --rosaOpaco: rgba(242, 128, 181, 0.5);
    --azulClaro: #0597F2;
    --azul: #8dd1fc;
    --colorPiel: #D9A796;
    --negro: #0D0D0D;
    --white: white;
    --rosatrans: #f280b580;
    --fieldbg : rgba(196, 196, 196, 0.43);

    /* Fonts */
    --textFont: 'Mukta', sans-serif;
    --titlesFont: 'Nunito', sans-serif;

    --borderRadius: 20px; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *::before , *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--textFont);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--negro);
    color: (--white);
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--negro);
  
}

/* Globales */

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--titlesFont);
    line-height: 1.2;
    color: var(--white);
    /* font-family: var(--fuenteHeading); */
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}


p {
    color: var(--white);
}


img {
    max-width: 100%;
}

/* utilidades */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}