@import url(./mystyle.css);
@import url(./header.css);
@import url(./navigation.css);
@import url(./conocenos.css);
@import url(./acerca-paax.css);
@import url(./footer.css);
@import url(./create_review-namh.css);
@import url(./carousel.css);
@import url(./lista-albumes.css);
@import url(./lista-categoria.css);
@import url(./top.css);
@import url(./contacto.css);

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Nunito:wght@600&display=swap');

@font-face {font-family: "CashbackMediumW00-Medium"; src: url("//db.onlinewebfonts.com/t/5400cea720f06aa1da4bb1569bc77590.eot"); src: url("//db.onlinewebfonts.com/t/5400cea720f06aa1da4bb1569bc77590.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5400cea720f06aa1da4bb1569bc77590.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5400cea720f06aa1da4bb1569bc77590.woff") format("woff"), url("//db.onlinewebfonts.com/t/5400cea720f06aa1da4bb1569bc77590.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5400cea720f06aa1da4bb1569bc77590.svg#CashbackMediumW00-Medium") format("svg"); }

:root {

    /* Colors */
    --rosa:#FC60A8;
    --rosaRGBA:rgba(240, 46, 170, 1);
    /* --rosa: #f280b6; */
    --rosaOpaco: rgba(242, 128, 181, 0.5);
    --azulClaro: #0597F2;
    --azul: #8dd1fc;
    --colorPiel: #D9A796;
    --negro: #0D0D0D;
    --white: white;
    --rosatrans: #f280b580;
    --fieldbg : rgba(196, 196, 196, 0.43);
    --bgcard: #1e1e1e;

    /* Fonts */
    --textFont: 'Mukta', sans-serif;
    --titlesFont: 'Nunito', sans-serif;
    --brandFont: "CashbackMediumW00-Medium";

    /* Others */
    --borderRadius: 20px;
    --boxShadowCard:rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *::before , *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--textFont);
    font-size: 1.6rem;
    line-height: 2;
    color: (--white);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--negro);
  
}

/* Globales */

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--titlesFont);
    line-height: 1.2;
    color: var(--white);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}


p {
    color: var(--white);
}


img {
    max-width: 100%;
}

/* utilidades */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.link--style {
    font-size: 16px;
    font-family: var(--titlesFont);
}

.link--style:hover {
    color: var(--rosaRGBA);
}


.brand--font {
    font-family: var(--brandFont);
    font-weight: 900;
    margin: 0;
    line-height: 48px;
}

.brand--font:hover {
    /* background-color: rgba(15, 187, 130, 0.9); */
    color: rgb(13, 223, 83);
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

.nav--font {
    font-family: var(--titlesFont);
    font-size: 16px;
    font-weight: bold;
}

.text-white:hover {
    color: rgb(13, 223, 83);
}

.text--pink {
    color: var(--rosaRGBA) !important;
    text-decoration: none !important;
}